<% provide(:title, "Compose a message") %>

<h1>Compose a message</h1>

<div class="main-form">
  <%= form_for @message do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= render 'form', :f => f %>

    <%= f.submit "Send", class: "btn btn-large btn-primary" %>
  <% end %>
</div>