<% provide(:title, 'Edit the topic') %>

<h1>Edit the topic</h1>

<div class="main-form">
  <%= form_for @topic do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <p>
      <%= render 'form', :f => f %>
    </p>
    
    <%= f.submit "Edit", class: "btn btn-large btn-primary" %>
  <% end %>
</div>