<div class="row" id="semi-header">
  <div class="span10">
    <h1>Topics</h1>
  </div>
  <div class="span2">
    <%= link_to "New Topic", new_forum_topic_path, html_options = {:class => "btn btn-large btn-primary"} %>
  </div>
</div>

<table class="table">
  
  <tbody>
    <thead>
      <tr>
        <th>Topics</th>
        <th>Last Post By</th>
        <th>Replies</th>
        <th>Views</th>
      </tr>
    </thead>
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <%= link_to topic.name, forum_topic_posts_path(@forum, topic.id) %> </br> Username_placeholder
        </td>
        <td>
        </td>
        <td>
          <%= topic.posts.count-1 %>
        </td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>