<h1>Topics</h1>
<%= link_to "New Topic", new_forum_topic_path, html_options = {:class => "btn btn-large btn-primary"} %>

<table class="table">
  <tbody>
    <thead>
      <tr>
        <th>Topics</th>
      </tr>
    </thead>
    
    <% @topics.each do |topic| %>
      <tr>
        <td>
          <%= topic.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>