<% provide(:title, 'Create a topic') %>

<h1>Create a topic</h1>

<div class="main-form">
  <%= form_for [@forum,@topic] do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <p>
      <%= render 'form', :f => f %>
    </p>

    <%= f.submit "Create a topic", class: "btn btn-large btn-primary" %>
  <% end %>
</div>