<li>
  <%= link_to user.name, user %>
  <% if admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
    | <%= link_to "edit", edit_user_path(user) %>
  <% end %>
</li>