<div class="intro">
  <h1>Minforum</h1>
  <p>Simple forum software written with Ruby on Rails</p>
  <%= link_to "View project on GitHub", 'https://github.com/serv/minforum', html_options = {:class => "btn btn-large btn-primary"} %>
</div>
