<h1>About</h1>
<p>
  Minforum is a minimal forum software written in Ruby on Rails. There are many kinds of forum implementations out there, but robust Ruby on Rails solution is not available. Minforum strives to provide a new alternative for web masters who wish to use Ruby on Rails rather than PHP. The entire code base is open sourced and it is available on <%= link_to "Github", "https://github.com/serv/minforum" %>. Feel free to fork it. For feature requests and reporting bugs, please use <%= link_to "Github issue tracker", "https://github.com/serv/minforum/issues" %>.
</p>