@import "bootstrap";

/* universal */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

.navbar-inner {
  .container {
    max-width: 940px;
    width: 75%;
  }
}

#message {
  width: 24px;
  height: 16px;
  padding:12px;
  background-repeat: no-repeat;
  background-image: url('glyphicons_010_envelope_silver.png');
  background-position:center;
}
#message:hover{
  width: 24px;
  height: 16px;
  background-image: url('glyphicons_010_envelope_white.png');
}
#new-message{
  width: 24px;
  height: 16px;
  padding:12px;
  background-repeat: no-repeat;
  background-image: url('glyphicons_010_envelope_orange.png');
  background-position:center;
}
#new-message:hover{
  width: 24px;
  height: 16px;
  background-image: url('glyphicons_010_envelope_orange_hov.png');
}

.container {
  max-width: 940px;
  width: 75%;
}

.row#semi-header {
  margin-bottom: 10px;
}

/* footer */

.footer {
  text-align: center;
  padding: 20px 0;
  width:80%;
  float:center;
  margin: 40px auto;
  border: 1px solid #DDD;
  border-radius: 15px;
}

footer p {
  font-size: 12px;
  color: #777;
  display: block;
}

footer a {
  margin: 0 2em;
  color: #777;
}

/* typography */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.main-form {
  border-left: 20px;
  width: 60%;
}

/* semi-header */

#semi-header {
  margin-bottom:5px;
  .span2 {
    text-align:right
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}
.sidebar-profile-summary {
  float: left;
  min-width: 140px;
  width: 25%;
  margin-left:20px;
}
.feed-profile {
  width: 65%;
  margin-left: 20px;
  float: right;
}

/* forums */
.intro {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 36px;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 15px;
  h1 {
    font-size:5.0em;
    line-height:1.1em;
  }
  p {
    font-size:2em;
    line-height:1.5em;
  }
}

.forums, .topics, .posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.admin-name {
  color:#D14;
}
.mod-name {
  color:teal;
}
.on_user_profile {
  display: block;
}
.feed_body {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.feed_setting {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.page-heading {
  min-width: 200px;
  max-width: 75%;
  float: left;
  margin-left: 20px;
}
.new-button {
  float: right;
  margin-left: 20px;
  width: 20%;
  text-align: right;
}

.forum-name {
  min-width: 200px;
}
.forum-topics-count {
  width: 10%;
}
.forum-posts-count {
  width: 10%;
}
.forum-views-count{
  width: 10%;
}

/* Topics */

.topic-name {
  min-width: 200px;
}
.last-post {
  width: 20%;
}
.replies-count {
  width: 10%;
}
.views-count {
  width: 10%;
}

/* Posts */

.post-content {
  min-width: 200px;
}
.user-name {
  width: 15%;
}
.posted-at {
  width: 15%;
}

/* Messages */

.from-column {
  width: 15%;
}
.subject-column {

}
.at-column {
  width: 15%;
}
.message-subject {
  font-size:14px;
  line-height:18px;
}
.new-message-row {
  background-color: #d9edf7;
}

/* Privacy */
.statement {
  font-style: italic;
}