<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Minimal Forum", "#", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", "#" %></li>
          <li><%= link_to "Help", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>